
.categories {
	display: flex;
	bottom: 50px + 10px;
	position: relative;
	min-width: 350px;
	height: 650px;
	flex: 1;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
	border: 0px solid;
	border-radius: 10px;
	overflow: hidden;
	background-color: #ffffff;
}
.categoriesList {
	display: flex;
	flex-direction: column;
	width: 100%;
	li {
		padding-left: 20px;
	}

}

.listElem{
	display: flex;
	height: 50px;
	align-items: center;
	background-color: rgb(255, 255, 255);
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	span
	{
		padding-left: 6px;
	}
	img {
		display: block;
		height: 30px;
	}
	&:hover{
		cursor: pointer;
	}

	& + :not(:first-child):hover
	{
		background-color: #ececec;
		transition: all 0.1s;
	}

}
.categoriesLabel {
	background-color: #D9D9D9;
	padding-left: 10px;
	font-weight: 600;
	font-size: 22px;
	line-height: 26px;
}

