.lastContainer {
	display: flex;
	flex-direction: column;
	.account {
		display: flex;
		flex-direction: column;
		flex: 1;
		max-width: 350px;
		max-height: 275px;
		align-items: center;
		justify-content: space-between;
		padding: 36px 0 30px 0;
		button {
			background-color: transparent;
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 60px;
		}

		span {
			background-color: transparent;
			position: relative;
		}
		.topPart {
			span {
				font-weight: 400;
				font-size: 32px;
				line-height: 38px;
			}
		}
		
		.bottomPart {
			display: flex;
			justify-content: space-evenly;
			width: 80%;
		}

	}
	

}



.bestChoices {
	display: flex;
	flex-direction: column;
	flex: 1;
	max-width: 350px;
	max-height: 275px;
	align-items: center;
	justify-content: space-between;
	padding: 8px 0 8px 0;
	span {
		font-weight: 500;
		font-size: 24px;
		line-height: 28px;
	}
	
	img:hover {
		cursor: pointer;
	}


	.roundedButtons {

		button {
			width: 15px;
			height: 15px;
			&:hover {
				cursor: pointer;
			}
		}
	}
}

