header {
	max-height: 260px;
}

.headerNav {
	display: flex;
	height: 40px;
	align-items: center;
	background-color: transparent;
	justify-content: flex-end;
	padding-right: 50px;
	}

.navContainer {
	display: flex;
	max-height: 16px;
	max-height: 256px;
	gap: 4px;
	img {
		max-height: 16px;
	}

	bottom:hover{
		cursor: pointer;
	}
}

.headerNavText {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}



.bottoms {
	display: flex;
	min-height: 100%;
	bottom { 
		max-height: 16px;
	}
}

.headerMainContainer {
	background-color: #fff;
	display: flex;
	position: relative;
	width: 100%;
	height: 220px;
}
.mainContent {
	display: flex;
	position: relative;
	justify-content: center;
	max-height: 62.66px;
	width: 100%;
	top: 60px;
}

.logo{
	margin: 0 60px 0 80px;
	max-width: 630px;
	&:hover {
		cursor: pointer;
	}

	@media screen and (min-width: 1400px) {
		max-width: 400px;
	}

	@media screen and (min-width: 1024px) {
		max-width: 300px;
	}
}


.searchBarContainer {
	display: flex;
	flex-direction: column;
	align-self: center;
	max-width: 730px;
	flex-grow: 1;
}
.searchBar {
	height: 40px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
	
	input{
		font-family: 'Roboto';
		font-weight: 500;
		font-size: 20px;
		line-height: 23px;
		padding-left: 15px;
		height: 100%;
		width: 100%;
		border-radius: 4px 0px 0px 4px;
		outline: none;
		border-right: 0px;
		overflow: hidden;
	}

	button{
		display: flex;
		align-items: stretch;
		background-color: #F8A03A;
		width: 60px;
		height: 100%;
		justify-content: center;
		outline: none;
		border-radius: 0px 4px 4px 0px;
	}
	button:hover{
		cursor: pointer;
	}
}
.topRatingSearch {
	margin-left: 10px;
	margin-top: 3px;
	flex-wrap: nowrap;
	span {
		font-family: 'Roboto';
		font-weight: 300;
		font-size: 18px;
		line-height: 21px;
		display: flex;
		align-items: center;
		color: #545454;
	}

	span:hover{
		cursor: pointer;
	}
}
.shopCart {
	background-color: transparent;
	position: relative;
	bottom: 10px;
	margin-left: 14px;
	&:hover{
		cursor: pointer;
	}
}