.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: #F2F2F2;
}

.main {
	flex: 1 1 auto;
}

.defaultElemStyle{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
	border: 0px solid;
	border-radius: 10px;
	overflow: hidden;
	background-color: #fff;
}

.cardDefaultStyle {
	&:hover {
		cursor: pointer;
		border-color: #797979;
	}
	background-color: transparent;
	border: 1px solid #fff;
	border-top: none;
	border-bottom: none;
	transition: all 0.2s;

}